/* estilos generales */
@font-face {
    font-family: Kollektif;
    src: url(../fonts/Kollektif.ttf);
}

.icon {
    width: 40px;
    position: absolute;
    left: 90%;
    top: 9%;
    transform: translate(-50%, -50%);
}

body {
    font-family: Kollektif;
    background-color: antiquewhite;
}

.btn {
    border: #0050f5;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    background-color: #0050f5;
    color: white;
}

.form-input {
    border-radius: 40px;
    border: 1px solid rgb(43, 38, 38);
    height: 50px;
    box-sizing: border-box;
}

/* popup */
.popup {
    /* visibility: hidden; estilo para hacer el popup*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

/* card */
.card {
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: white;
    border-radius: 50px 50px;
}

.card-header {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-form {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-block-end: 3%;
}

/* labels que estan sobre los input */
.card-form label p{
    margin-left: 2%;
    font-size: large;
    font-weight: 100;
    margin-right: 2%;
    margin-top: 3%;
    margin-block-end: 1%;
}

.card-btn {
    display: flex;
    gap: 1%;
    justify-content: center;
    align-items: center;
    margin-block-end: 4%;
}

.card-line {
    width: 500px;
    border: black;
    background-color: black;
    height: 1px;
}

.card-footer {
    margin-block-end: 5%;
    align-items: center;
    text-align: center;
}